*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  cursor: pointer;
  display: block;
  min-width: 169px;
  align-items: center;
  text-align: center;
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

img {
  display: block;
}

h3,
p {
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #434455;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px 0 15px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.header-logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2f42;
  text-align: center;
  margin: 0 auto;
  padding: 188px 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}

.text-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.tittle-button:hover,
.tittle-button:focus {
  background: #404bbf;
  cursor: pointer;
}

.section-container {
  padding: 120px 0;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.item-text {
  margin-bottom: 8px;
}

.features-container {
}

.features-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-part {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-direction: column;

  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}

.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0 120px 0;
}

.portfolio-container {
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.portfolio-list {
  max-width: 1158px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
}

.footer-text-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.portfolio-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}
